@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');
html{
    font-size: 62.5%;
    box-sizing: border-box;
    max-width: 100% !important;
    overflow-x: hidden !important;
}
*,*::before,*::after{
    box-sizing: inherit;
}
body{
    padding: 0;
    margin: 0;
    line-height: 1.6;
    font-family: 'IBM Plex Sans';
    background-color: black;
    max-width: 100% !important;
    overflow-x: hidden !important;
    
}

.logo{
    height: 50px;
    padding-right: 450px;
}
.imagen{
    height: 500px;
    border-radius: 2000px;
    margin-top: 60px;
}
.imagen-servicios{
    height: 400px;
    margin-top: 120px;
    margin-left: 30px;
}
.texto{
    font-size: 18px;
    text-align: left;
    padding-top:100px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 8vh;
    background-color: transparent;
}
.ham{
    display: none;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0; 
    background-color: transparent;
}

.ham span{
    display: block;
    background-color: #fdfdfd;
    height: 3px;
    width: 28px;
    margin: 10px auto;
    border-radius:2px ;
}

.enlaces-menu{
    display: flex;
    padding: 0;
}


.enlaces-menu li {
    padding: 15px;
    list-style-type: none;
    transition: 0.6s;
}

.enlaces-menu li a{
    text-decoration: none;
    font-size: 1.4rem;
    color: #ffffff;
    font-weight: 600;
    display: inline-block;
    position: relative;
}
  

.enlaces-menu li a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.enlaces-menu li a:hover:after { 
    width: 100%; 
    left: 0; 
}

.fondo h2{
    margin-top: 50px;
    text-align: center;
    color: white;
    font-size: 2.5rem;
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
    color: rgb(0, 0, 0);
    border-top: 2px solid rgb(0, 0, 0);
    width: 90%;
}
@media (max-width:768px){
    body{
        overflow: scroll;
    }
    .logo{
        padding-left: 25px;
    }
    .ham{
        display: block;
        position: absolute;
        cursor: pointer;
        top: 15px;
        right: 25px;
        transition: 0.2s 0.1s;
    }
    .ham:hover{
        transform:rotate(360deg);
    }
    nav{
        flex-direction: column;
        align-items: flex-start;
        padding: 25px 0;
        background-color: rgb(0, 0, 0);
    }

    .enlaces-menu{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 92vh;
        margin: 0;
        padding: 0;
        width: 100%;
        display: none; 
        opacity: 0;
        transition: opacity 5s ease-out;
    }
    .enlaces-menu li {
        width: 100%;
        text-align: center;
        padding: 20px;
    }
    .imagen{
        padding-top: 30px;
        display: block;
        margin: auto;
        height: 400px;
        
    }
    .imagen-servicios{
        padding-top: 30px;
        display: block;
        margin: auto;
        height: 300px;
    }
    .texto{
        font-size: 15px;
        text-align: justify;
        padding-top:30px;
        width: 90%;
        margin-left: 20px;
        color: white;
    }
}

@keyframes muestraMenu {
    from{opacity: 0;}
    to{opacity: 1;}
    
}
.enlaces-menu.activado{
    display: flex;
    animation: muestraMenu 350ms ease-in-out both;
}
.br-1.animado{
    transform:rotate(-45deg) translate(-10px,8px);

}
.br-2.animado{
    opacity: 0;
}

.br-3.animado{
    transform:rotate(45deg) translate(-10px,-8px);
}
.ham.girar:hover{
    transform:rotate(360deg);
}