{% extends "main.html" %}

{% block title %} Incio {% endblock %}

{% block content %}
{% load static %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img id="logo" class="imagen" src="{% static 'img/imagen.png' %}">
        </div>
        <div id="logo" class="col-md-6 texto">
            <h1>Club Internacional De Futbol Tulua</h1>
            <br>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam beatae ratione vel porro, tempore fuga placeat consectetur magnam libero eum nemo. Cumque doloremque aliquam, explicabo natus hic reprehenderit non explicabo Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis corporis fugiat repudiandae ab. Repudiandae, tempore quasi ducimus veniam non eaque, voluptatibus culpa error pariatur aspernatur quibusdam illo nihil excepturi cumque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque ab eos odit quibusdam blanditiis nihil enim quae unde cumque voluptatibus. Ratione voluptas porro, maxime fugiat laboriosam cum iure quam sed Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam, fuga reiciendis neque laborum amet quia voluptate voluptatum a maxime quo maiores magnam ducimus quibusdam beatae perspiciatis natus voluptates nesciunt non?</p>
        </div>
    </div>
</div>

{% endblock %}




