{% extends "main.html" %}

{% block title %} Experiencia {% endblock %}

{% block content %}
{% load static %}

<div class="fondo">
    <h2 id="exp">Estudios</h2>
    <hr class="section-hr">
</div>
<div class="container">
    <div class="row align-items-center">
        <div class="col-md-4 circle">
            <!-- <a href=""> -->
                <figure>
                    <img class="img-exp"  src="{% static 'img/1.png' %}">
                    <!-- <div class="capa">
                        <h3>SLee Dw</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, vero!</p>
                    </div> -->
                </figure>
            <!-- </a> -->
        </div> 
        <div class="col-md-4 circle">
            <!-- <a href=""> -->
                <figure>
                    <img class="img-exp"  src="{% static 'img/1.png' %}">
                    <!-- <div class="capa">
                        <h3>SLee Dw</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, vero!</p>
                    </div> -->
                </figure>
            <!-- </a> -->
        </div> 
        <div class="col-md-4 circle">
            <!-- <a href=""> -->
                <figure>
                    <img class="img-exp"  src="{% static 'img/1.png' %}">
                    <!-- <div class="capa">
                        <h3>SLee Dw</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, vero!</p>
                    </div> -->
                </figure>
            <!-- </a> -->
        </div> 
      
    </div>
</div>
<div class="fondo">
    <h2 id="exp">Experiencia</h2>
    <hr class="section-hr">
</div>
<div class="container">
    <div class="row align-items-center">
        <div class="col-md-4 circle">
            <!-- <a href=""> -->
                <figure>
                    <img class="img-exp"  src="{% static 'img/1.png' %}">
                    <!-- <div class="capa">
                        <h3>SLee Dw</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, vero!</p>
                    </div> -->
                </figure>
            <!-- </a>        -->
        </div> 
        <div class="col-md-4 circle">
            <!-- <a href=""> -->
                <figure>
                    <img class="img-exp"  src="{% static 'img/1.png' %}">
                    <!-- <div class="capa">
                        <h3>SLee Dw</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, vero!</p>
                    </div> -->
                </figure>
            <!-- </a> -->
        </div> 
        <div class="col-md-4 circle">
            <!-- <a href=""> -->
                <figure>
                    <img class="img-exp"  src="{% static 'img/1.png' %}">
                    <!-- <div class="capa">
                        <h3>SLee Dw</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, vero!</p>
                    </div> -->
                </figure>
            <!-- </a> -->
        </div>       
    </div>
</div>
<div class="fondo">
    <h2 id="exp">Titulos</h2>
    <hr class="section-hr">
</div>
<div class="container">
    <div class="row align-items-center">
        <div class="col-md-4 circle">
            <!-- <a href=""> -->
                <figure>
                    <img class="img-exp"  src="{% static 'img/img-titulo1.png' %}">
                    <div class="capa">
                        <h3>COPA BomBomBum</h3>
                        <p>                      
                            <ul>
                                <li>Campeon Regional 2018 </li>
                                <li>Campeon Departamental  2018</li>
                                <li>Subcampeon Nacional  2018</li>                     
                            </ul>
                        </p>
                    </div>
                </figure>
            <!-- </a> -->
        </div> 
        <div class="col-md-4 circle">
            <!-- <a href=""> -->
                <figure>
                    <img class="img-exp"  src="{% static 'img/img-titulo2.png' %}">
                    <div class="capa">
                        <h3>Copa Corazon</h3>
                        <p>                      
                            <ul>
                                <li>Campeón Elite 2019 categoría 2008 </li>
                                <li>Subcampeon Municipal 2018 </li>
                                <li>Subcampeon  metropolitano 2019</li>                    
                            </ul>
                        </p>
                    </div>
                </figure>
            <!-- </a> -->
        </div> 
        <div class="col-md-4 circle">
            <!-- <a href=""> -->
                <figure>
                    <img class="img-exp"  src="{% static 'img/img-titulo3.png' %}">
                    <div class="capa">
                        <h3>Regionales</h3>
                        <p>                        
                            <ul>
                                <li>Campeón Torneo Comfandi 2019 </li>
                                <li>Campeón Copa América Regional Clasificatorio Zarzal valle 2020</li>  
                                <li>Tercer Lugar Copa Ciudad Bogota edición 2020 </li>                  
                            </ul>
                        </p>
                    </div>
                </figure>
            <!-- </a> -->
        </div>       
    </div>
</div>

{% endblock %}