{% extends "main.html" %}

{% block title %} Experiencia {% endblock %}

{% block content %}
{% load static %}

<div class="fondo">
    <h2 id="exp">Estudios</h2>
    <hr class="section-hr">
</div>
<div class="container">
    <div class="row align-items-center">
        <div class="col-md-4 circle">
            <img class="img-exp "  src="{% static 'img/1.png' %}">
        </div> 
        <div class="col-md-4 circle">
            <img class="img-exp"  src="{% static 'img/1.png' %}">
        </div> 
        <div class="col-md-4 circle ">
            <img class="img-exp"  src="{% static 'img/1.png' %}">
        </div> 
        <div class="col-md-4 circle">
            <img class="img-exp"  src="{% static 'img/1.png' %}">
        </div> 
        <div class="col-md-4 circle">
            <img class="img-exp" src="{% static 'img/1.png' %}">
        </div> 
        <div class="col-md-4 circle">
            <img class="img-exp"  src="{% static 'img/1.png' %}">
        </div> 
      
    </div>
</div>
<div class="fondo">
    <h2 id="exp">Experiencia</h2>
    <hr class="section-hr">
</div>
<div class="container">
    <div class="row align-items-center">
        <div class="col-md-4">
            <img class="img-exp"  src="{% static 'img/1.png' %}">
        </div> 
        <div class="col-md-4">
            <img class="img-exp"  src="{% static 'img/1.png' %}">
        </div> 
        <div class="col-md-4 ">
            <img class="img-exp" src="{% static 'img/1.png' %}">
        </div> 
        <div class="col-md-4">
            <img class="img-exp"  src="{% static 'img/1.png' %}">
        </div> 
        <div class="col-md-4">
            <img class="img-exp" src="{% static 'img/1.png' %}">
        </div> 
        <div class="col-md-4">
            <img class="img-exp"   src="{% static 'img/1.png' %}">
        </div> 
      
    </div>
</div>
<div class="fondo">
    <h2 id="exp">Titulos</h2>
    <hr class="section-hr">
</div>
<div class="container">
    <div class="row align-items-center">
        <div class="col-md-4">
            <img class="img-exp"  src="{% static 'img/img-titulo1.png' %}">
        </div> 
        <div class="col-md-4">
            <img class="img-exp"   src="{% static 'img/img-titulo2.png' %}">
        </div> 
        <div class="col-md-4 ">
            <img class="img-exp"  src="{% static 'img/img-titulo4.png' %}">
        </div>       
    </div>
</div>

{% endblock %}