{% extends "main.html" %}

{% block title %} Incio {% endblock %}

{% block content %}
{% load static %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img id="logo" class="imagen" src="{% static 'img/imagen.png' %}">
        </div>
        <div id="logo" class="col-md-6 texto">
            <h1>Club Internacional De Futbol Tulua</h1>
            <br>
            <p>Es un club de futbol para los niños de categoría 2008 para la formación deportiva, contamos con todo el personal y los conocimientos pedagógicos y deportivos para que su niño tenga un buen proceso de aprendizaje donde, desarrollara las habilidades motrices y físicas para que llegue a ser un buen deportista, el buen trato y la disciplina son las mayores virtudes de nuestro personal.
                <br><br>
                En nuestra institución no solo formamos deportistas, también formamos personas con principios y enfoques para su desarrollo personal con unas buenas prácticas para su vida de donde se enseñan valores morales y éticos que pueden aplicar en todo su desarrollo como persona.  </p>
        </div>
    </div>
</div>

{% endblock %}




