{% extends "main.html" %}

{% block title %} Servicios {% endblock %}

{% block content %}
{% load static %}

<div class="fondo">
    <h2 id="servicios">SERVICIOS</h2>
    <hr class="section-hr">
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img  class="imagen-servicios" data-aos="fade-right" src="{% static 'img/1.png' %}" >
        </div>
        <div class="col-md-6 texto" >
            <div  data-aos="fade-left">
                <h1>Entrenamientos Personalizados</h1>
                <br>
                <p>Este programa de entrenamiento permite una preparación específica 
                en las habilidades fundamentales en el alto rendimiento Nuestros programas de entrenamiento personalizado aportan mayor valor 
                añadido a los jugadores que ya integran un proceso formativo a largo plazo, incrementando con ello las posibilidades de éxito
                Aunque hay programas de corta duración que son preparatorios 
                para pruebas en clubes. </p>
            </div> 
        </div>
        <div class="col-md-6" >
                <img class="imagen-servicios" data-aos="fade-right" src="{% static 'img/2.png' %}">                
        </div>
        <div class="col-md-6 texto">
            <div data-aos="fade-left">
                <h1>Trabajos Isometricos Personalizados</h1>
                <br>
                <p>Los ejercicios isométricos consisten en el sometimiento del músculo a tensión sin realizar movimiento. Este tipo de ejercicio lo podemos hacer con o sin peso, ya que en la mayoría de ejercicios de isométricos con el uso adecuado de nuestro cuerpo es más que suficiente. Además, al utilizarse el propio cuerpo lo podemos llevar a cabo en cualquier lugar sin necesidad de tener que acudir a un gimnasio o centro de entrenamiento a practicar esta actividad.</p>
            </div>    
        </div>
        <div class="col-md-6">
            <img class="imagen-servicios" data-aos="fade-right"  src="{% static 'img/3.png' %}">
        </div>
        <div class="col-md-6 texto " >
            <div data-aos="fade-left">
                <h1>Trabajos Motrices</h1>
                <br>
                <p>La noción de motricidad hace referencia a la capacidad que tiene un organismo de generar movimiento o de desplazarse. El concepto también alude específicamente a la facultad del sistema nervioso central de provocar contracciones musculares.
                <br><br>
                Puede entenderse a la motricidad como el dominio del cuerpo por parte de las personas. El ser humano no solo está en condiciones de reproducir movimientos, sino que puede expresar su intencionalidad de manera creativa o espontánea.</p>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}