.container figure{
    position:relative;
     height: 300px;
     cursor: pointer;
     width: 300px;
     border-radius: 6px;
     box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
}
 .container figure img{
     width: 100%;
     height: 100%;
     transition: all 400ms ease-out;
     will-change: transform;
}
 .container figure .capa{
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(19, 20, 20, 0.7);
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
 .container figure:hover > .capa {
     opacity: 1;
     visibility: visible;
     border-radius: 1000px;
     height: 300px;
     width: 300px;
     transform: scale(1.1);
}
 .container figure:hover > .capa h3{
     margin-top: 70px;
     margin-bottom: 15px;
}
 .container figure:hover > img{
     transform: scale(1.1);
}
 .container figure .capa h3{
     color: #fff;
     font-weight: 400;
     margin-bottom: 120px;
     transition: all 400ms ease-out;
      margin-top: 30px;
}
 .container figure .capa p{
     color: #fff;
     font-size: 15px;
     line-height: 1.5;
     width: 100%;
     max-width: 220px;
     margin: auto;
}

@media (max-width:768px){
    .container figure {
        position: relative;
        height: 200px;
        cursor: pointer;
        width: 200px;
        border-radius: 6px;  
        display: block;
        margin: auto;
    }
    .container figure:hover > .capa {
        opacity: 1;
        visibility: visible;
        border-radius: 1000px;
        height: 200px;
        width: 200px;
        transform: scale(1.1);
   }
}